@import 'mixins'
@import 'reset'
  
/*============================================
 * Framework
 * Project:  SullivanCotter Client Portal
 * 
 *--Table of Contents--
 *  ^Readme
 *  ^Helpers..................Arbitrary helper classes
 *  ^Fonts....................Embedded typekit and weights
 *  ^Main.....................High Level Elements (html/body)
 *  ^Headings.................h1-h6 elements
 *  ^Typography...............<p> elements and other minor type elements
 *  ^Links....................Anchor links
 *  ^Collapseable Links
 *  ^Lists
 *  ^Pagination
 *  ^Tables
 *  ^Status Colors............Warnings/Errors and info boxes
 *  ^Modals
 *  ^Dropdowns
 *--Form Elements--
 *  ^Forms
 *  ^Control Groups...........Styles for grouping forms together.
 *  ^Buttons
 *  ^Search Box...............Encase search <input> with an icon button
 *  ^Icons
 *  ^Chosen
 *  ^Alerts
 *  ^Tooltips
 *--Abstractions--
 *  ^Nav
 *  ^Island
 *  ^Inset/Outset
 *  ^Separator
 *  ^Tabs
 *--Other--
 *  ^Key Value Display
 *  ^Affix


 * ============================================*/

/*============================================
 ^Readme
 * 
 * This file is the base framework containing a number of objects and abstractions
 * that form the basis for much of the app/site. CSS for new or un-anticipated site
 * elements should go in styles.sass.
 * ==========================================*/


/*============================================
 ^Fonts
 *
 * font-family: "freight-sans-pro"
 *
 * light
 *   font-weight: 300
 * book
 *   font-weight: 400
 * medium
 *   font-weight: 500
 * semibold
 *   font-weight: 600
 * italic
 *   font-style: italic
 *
 * ==========================================*/


/*============================================
 ^Helper classes
 * ==========================================*/

// Floats

.fr
  float: right

.fl
  float: left

//Alignments

.alignright
  text-align: right

.alignleft
  text-align: left

.aligncenter
  text-align: center

//

.inline
  display: inline

// Clearfix
.cf
  zoom: 1
  &:before,
  &:after
    content: ""
    display: table
  
  &:after
    clear: both

// Hides text in an element

.accessibility
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

// Text Colors
.placeholder
  color: $grey50
.danger
  color: $red

.unimportant
  color: $black

.yellow
  color: $yellow

// Hides things

.hidden
  display: none

.relative
  position: relative

/*============================================
 ^Grid
 * ==========================================*/

$colwidth: 7.60%
$colspacing: 0.73%

.grid
  float: left
  margin-left: $colspacing

  @media screen and (max-width: 750px)
    margin-left: 0 !important
    margin-left: 0 !important
    width: 100% !important

.container
  display: block
  margin: 0 auto
  padding-left: $base*4
  padding-right: $base*4
  max-width: 1400px
  min-width: 600px
  width: 100%

.row
  margin-left: $colspacing
  &:after
    content: ""
    display: block
    height: 0
    clear: both
    visibility: hidden

.show-grid 
  margin-bottom: 10px
  & [class*="col"]
    color: #fff
    background: $grey60
    padding: 3px
    text-align: center

// Generates columns

@for $i from 1 through 12
  $iminus: $i - 1
  .col#{$i}
    @extend .grid
    width: $colwidth * $i + $colspacing*$iminus

//  Generates offsets
@for $i from 1 through 12
  $iplus: $i + 1
  .offset#{$i}
    margin-left: $colwidth * $i + $colspacing*$iplus

/*============================================
 ^Main
 * ==========================================*/

html,body
  background: $bodybg
  color: $grey100
  font-size: $base*2
  line-height: $base*3
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif
  font-weight: 400

body
  padding-bottom: $base*4

/*============================================
 ^Headings
 * ==========================================*/


h3,h4,h5,h6
  font-weight: 500
  text-shadow: 0 1px 0 #fff

.bordered
  border-bottom: solid 1px $grey20
  margin-bottom: $base*4
  position: relative
  &:before,
  &:after
    background: $grey20
    bottom: -1px
    content: ""
    display: block
    height: 1px
    position: absolute
    left: 0
    width: 100%
  &:before
    left: -$base*4
  &:after
    left: auto
    right: -$base*4

h1,
.h1
  @extend .bordered
  color: $darkblue
  font-size: $base*4
  font-weight: 400
  line-height: $base*5
  margin: 0 0 $base*4 0
  padding: 0 0 $base*3 0

  

  &.borderless
    border-bottom: none
    padding-bottom: 0
    margin-bottom: $base*3
    &:after,&:before
      display: none


h2,
.h2
  color: $grey100
  font-size: $base*3
  font-weight: 400
  margin: 0 0 $base*3 0
  padding-top: $base*2

  &:first-child
    padding-top: 0
  &:last-child
    margin-bottom: 0

h3,
.h3
  color: $darkyellow
  margin: 0 0 $base*2 0
  padding-top: $base*2
  text-transform: uppercase
  &:first-child
    padding-top: 0
  &:last-child
    margin-bottom: 0

h4,.h4
  color: $black
  margin: 0 0  $base
  padding: 0
/*============================================
 ^Typography
 * ==========================================*/

p
  margin: 0 0 $base*2 0

  &:last-child
    margin-bottom: 0
  &.bordered
    padding-bottom: $base*4

code
  font-size: $base*1.75
  font-weight: bold

strong
  font-weight: 600

/*============================================
 ^Links
 * ==========================================*/

a
  @include transition ((color .15s, border .15s, background .15s))
  border-bottom: solid 1px transparent
  color: $blue
  text-decoration: none
  position: relative

  &:hover
    border-bottom: solid 1px

  &:active,
  &:focus
    top: 1px


/*============================================
 ^Collapseable Links
 * ==========================================*/

.collapse-link
  border: none
  color: $black
  font-weight: 500
  position: relative
  padding-left: $base*2
  &:hover
    border: none
    text-decoration: underline

  &:before
    content: "▼"
    display: block
    font-size: 10px
    left: 0
    position: absolute
    top: 0

    .ie8 &
      font-size: 16px

  &.collapsed
    color: $blue
    &:before
      content: "▶"
      .ie8 &
        font-size: 10px
.collapse
  height: 0
  overflow: hidden

  &.in
    height: auto

/*============================================
 ^Lists
 * ==========================================*/
ul,ol
  margin-bottom: $base*3
  margin-left: $base*3
  li
    margin-bottom: $base
  &:last-child
    margin-bottom: 0
ul,
ul li
  list-style: disc
ol,
ol li
  list-style: decimal


.divided-overview
  .overview-title
    text-transform: uppercase
  a
    @include transition(color .25s border .25s)
    border-bottom: solid 1px rgba(255,255,255,0)
    color: $black

    &:hover
      color: $blue
      border-bottom: solid 1px
  ul,ol
    margin-left: $base*2
  li
    margin: 0
    padding: $base*2 0
  li li li
    padding: $base*2 0 0 0
  > li > ul,
  > li > ol
    margin-top: $base*2
    > li
      border-top: solid 1px $grey20

ol.divided-overview
  color: $yellow

  ol,ul
    color: $grey100
    li
      list-style: none

.label + .divided-overview
  border-top: solid 1px $grey20

/*============================================
 ^Tables
 * ==========================================*/
table
  border-collapse: collapse
  border-spacing: 0
  display: table
  margin-bottom: $base*4
  width: 100%

  &:last-child
    margin-bottom: 0

thead
  display: table-row-group !important
  float: none !important
  td,th
    border-bottom: solid 1px $grey30
    color: $black
    display: table-cell
    line-height: $base*2.5
    padding: $base/2 $base
    font-weight: 500
    text-align: left
    text-transform: uppercase
    vertical-align: bottom
  
  th a
    @include transition (none)
    border: transparent
    color: $black
    display: inline-block
    padding-right: 14px
    position: relative
    &:after,
    &:before
      color: $grey20
      content: "▲"
      display: block
      font-size: 8px
      position: absolute
      right: 0
      top: -4px
    &:after
      content: "▼"
      margin-top: 8px
    &:hover,
    &:hover:before,
    &:hover:after
      border: transparent
      color: $blue
    &.current:hover
      &:before,
      &:after
        color: $blue

    &.asc
      &:before
        display: none
      &:after 
        color: $black
        font-size: 10px
        top: -7px
    &.desc
      &:before
        color: $black
        font-size: 10px
        top: 0px
      &:after 
        display: none



tbody
  display: table-row-group !important
  float: none !important
  td,th
    border-bottom: solid 1px $grey15
    display: table-cell
    padding: $base
    text-align: left
    &.tree-offset1
      padding-left: $base*3
    &.tree-offset2
      padding-left: $base*6
    .offset1
      margin-left: 0
  tr:hover
    td,th
      background: $grey5
      color: $grey100
      text-shadow: 0 1px 0 #fff

.t5   
  width: 5% 
.t10 
  width: 10% 
.t12 
  width: 12.5%      /* 1/8 */
.t15 
  width: 15% 
.t16 
  width: 16% 
.t17 
  width: 17% 
.t18 
  width: 18% 
.t19 
  width: 19% 
.t20 
  width: 20% 
.t25 
  width: 25%        /* 1/4 */
.t30 
  width: 30% 
.t33 
  width: 33.333%    /* 1/3 */
.t35 
  width: 35% 
.t37 
  width: 37.5%      /* 3/8 */
.t40 
  width: 40% 
.t45 
  width: 45% 
.t50 
  width: 50%        /* 1/2 */
.t55 
  width: 55% 
.t60 
  width: 60% 
.t62 
  width: 62.5%      /* 5/8 */
.t65 
  width: 65% 
.t66 
  width: 66.666%    /* 2/3 */
.t70 
  width: 70% 
.t75 
  width: 75%        /* 3/4*/
.t80 
  width: 80% 
.t85 
  width: 85% 
.t87 
  width: 87.5%      /* 7/8 */
.t90 
  width: 90% 
.t95 
  width: 95%

table.form-table
  margin-top: $base*2
  thead
    td,th
      font-size: 14px
      text-transform: none


/*============================================
 ^Pagination
 * ==========================================*/

.pagination

  text-align: center
  .btn
    margin: 0 8px
  input[type=text]
    color: $blue
    font-weight: 600
    width: 45px
  small
    color: $grey50
    display: block
    padding-top: $base*2



/*============================================
 ^Status Colors
 * ==========================================*/

.info,
  background: desaturate(lighten($blue, 55%), 60%) !important
  border: solid 1px $blue !important
  color: $darkblue !important

  .close
    color: $darkblue

.warning
  background: desaturate(lighten($yellow, 50%), 50%) !important
  border: solid 1px $yellow !important
  color: $darkyellow !important

  .close
    color: $darkyellow

.error
  background: desaturate(lighten($red, 55%), 60%) !important
  border: solid 1px $red !important
  color: $darkred !important

  .close
    color: $darkred

.status-in-progress
  color: $yellow
.status-errors
  color: $red
.status-complete
  color: $blue

/*============================================
 ^Modals
 * ==========================================*/

.modal-backdrop
  @include transition(opacity .25s)
  background: $black 
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040

.modal-backdrop.fade 
  opacity: 0
.modal.hide
  display: none

.modal-backdrop,
.modal-backdrop.fade.in 
  opacity: 0.8
  filter: alpha(opacity=80)

.modal 
  box-shadow: 0 1px 5px rgba(0,0,0,.5)
  position: fixed
  top: 10%
  left: 50%
  z-index: 1050
  width: 70%
  margin-left: -35%
  background-color: #ffffff
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.3)
  outline: none


.modal.fade 
  top: -25%

.modal.fade.in 
  top: 10%

.modal-header 
  background: $grey10
  box-shadow: inset 0 -1px 3px -1px rgba(0,0,0,.10)
  border-bottom: 1px solid $grey30
  position: relative

.modal-header .close 
  font-size: $base*3
  line-height: normal
  padding: 0 $base*1.5 $base/2
  position: absolute
  top: $base*2.5
  right: $base*3

  &:active
    top: $base*2.5 + 1

.modal-title
  color: $darkblue
  display: block
  font-size: $base*3.5
  line-height: $base*4 
  margin: 0
  padding: $base*3 $base*6 $base*3 $base*3
  text-shadow: 0 1px 0 #fff


.modal-body 
  @extend .cf
  position: relative
  max-height: 400px
  padding: $base*3
  overflow-y: auto


.modal-form 
  margin-bottom: 0

.modal-footer 
  background: $grey10
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,.10)
  border-top: 1px solid $grey30
  overflow: hidden
  padding: $base*3
  position: relative

/*============================================
 ^Dropdowns
 * ==========================================*/
.dropdown
  display: inline-block
  position: relative

.dropdown-menu
  background: #fff
  border: solid 1px $grey40
  border-radius: $base/2
  box-shadow: 0 1px 5px rgba(0,0,0, .20)
  display: none
  position: absolute
  padding: $base/2 0
  right: 0
  top: 100%
  width: 200px
  z-index: 10

  .open &
    display: block

  a
    border-bottom: none
    color: $grey100
    padding: $base/2 $base*2

    &:hover
      @include gradient ($blue, ($blue, darken($blue, 10%)))
      border-bottom: none
      color: #fff
    &.disabled,
    &.disabled:hover,
    &.disabled:active
      background: none
      color: $grey50
      cursor: default
      top: 0  

  li:first-child a
    border-radius: $base/2 $base/2 0 0 
  li:last-child a
    border-radius: 0 0 $base/2 $base/2
  li.sep
    margin: $base/2 0



/*============================================
 ^Forms
 * ==========================================*/

/*
 * Fieldsets provide a little grouping and spacing
 */

fieldset
  border-bottom: solid 1px $grey20
  margin-bottom: $base*2
  padding-bottom: $base*4

  &:last-child
    border-bottom: none
    margin-bottom: 0
  .sep
    float: left
    margin-top: $base*4
    width: 100%

$defaultWidth: 80%
$skinnyWidth: 30%
$midWidth: 50%

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]
  -webkit-appearance: none
  @extend .inset
  border-radius: 0
  color: $black
  display: inline-block
  outline: 0
  padding: $base*.25 $base 0 $base
  text-align: left
  font-size: $base*1.75 
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif
  height: $base*4.5

  &:focus
    border-color: $blue
    box-shadow: 0 0 5px transparentize($blue, .70)

  .control-group &
    width: 100%

  .control-group-horizontal &
    float: right
    position: relative
    top: $base*2.25
    width: $skinnyWidth

  .control-group-error &
    @extend .error

  .ie8 &
    padding-top: $base

  &.skinny
    margin-right: 8px
    width: $skinnyWidth

    &:last-child
      margin-right: 0

  &.mid
    width: $midWidth

select
  padding: $base


  @media only screen and (-webkit-min-device-pixel-ratio: 0)
    &
      background-image: url(../images/bg-select.png) !important
      background-repeat: no-repeat
      background-position: center right


::-webkit-input-placeholder 
  color: $grey50

input:-moz-placeholder,
textarea:-moz-placeholder 
  color: $grey50
textarea
  height: $base*12
  padding: $base
/*
 * Wrap all sets of questions & answers with a <div class="control-group"/> or
 * <p class="control-group">. Maintain this relationship when handling dependent questions.
 * e.g.:
 * <div class="control-group">
 *     <label></label>
 *     <input />
 *     <div class="control-group">
 *        <label></label>
 *        <input />
 *     </div>
 * </div>
 */


.control-group
  @include transition(opacity .25s)
  display: block
  float: left
  margin: 0
  position: relative
  width: $defaultWidth
  .nav
    margin-left: 0
  .group-title
    color: $darkyellow
    margin: 0 0 $base*2 0
    padding-top: $base*2
    text-transform: uppercase
    margin-bottom: 0

    .num
      color: $darkyellow
      top: $base*2


  .num
    color: $grey50
    display: block
    font-size: $base*1.75
    left: 0
    height: 10px
    position: absolute
    top: $base*3
    width: 30px

  @media screen and (max-width: 600px)
    width: 100%

  .control-group
    display: block
    float: left
    padding-left: $base*5
    width: 100%

    &.numbered
      padding-left: $base*6

  &.full-width
    max-width: 100%
    width: 100%
    
  &.numbered
    padding-left: $base*4

  &:hover,
  .touch &
    .message
      opacity: 1

  .additional,
  .error-message
    font-size: $base*1.75
    float: left
    margin: 0 0 $base 0
    width: 100%

    .control-group-horizontal &
      margin: $base 0 0 0 
  .additional
    color: $grey50
  .last-year
    color: $yellow
  .error-message
    @extend .danger

.control-group-horizontal
  label,
  .label
    max-width: $defaultWidth - $skinnyWidth/2
    float: left

.control-group-error:after
  @extend .icon
  @extend .icon-error
  bottom: $base*1.5
  content: ""
  display: block
  position: absolute
  right: $base*1.5

.control-group-horizontal:after
  bottom: auto
  top: $base*3.5

.control-group-btn
  padding-top: $base*3

.control-group-disabled
  li.last-year label:before,
  li.last-year:after
    display: none !important
  label:hover
    background: #fff !important
  label,p,span
    color: $grey30 !important
    cursor: default !important
    text-shadow: 0 !important
  input,select
    background: $grey10 !important
    border-color: $grey15 !important
    color: $grey15 !important
    box-shadow: none !important
  input[type=radio],
  input[type=checkbox]
    opacity: 0.5
    -moz-opacity: 0.5
    filter: alpha(opacity=5)

  ::-webkit-input-placeholder 
    color: $grey15

  input:-moz-placeholder,
  textarea:-moz-placeholder 
    color: $grey15






.message
  @include transition (opacity .25s)
  border-radius: $base/2
  bottom: 0
  display: block
  font-weight: 500
  margin-left: $base*2
  opacity: 0
  padding: $base
  position: absolute
  left: 100%
  text-shadow: 0 1px 0 rgba(0,0,0,.25)
  width: 33%
  z-index: 1

  &:before
    @include transform (rotate(45deg))
    bottom: $base*1.5
    content: ""
    display: block
    height: $base*1.5
    left: -$base*1.5/2
    position: absolute
    width: $base*1.5

  &.error-message,
  &.error-message:before
    background: $red
    color: #fff

  .control-group-horizontal &
    bottom: auto
    top: $base*1.75

    &:before
      bottom: auto
      top: $base*2

  .full-width &
    bottom: auto
    left: auto
    right: 0
    margin-top: $base*2
    top: 100%

    &:before
      left: auto
      right: $base*1.5
      top: -$base*1.5/2



label,
.label
  color: $grey100
  display: block
  font-weight: 500
  margin: 0
  padding: $base*3 $base*2 $base 0

  &.full-width
    max-width: 100%
    width: 100%

/*
 * Checklist & radio question formates
 * e.g.:
 * <div class="control-group">
 *     <label>Pick one...</label>
 *     <ul class="checklist">
 *     <li>
 *        <label for="one">
 *          <input id="one" name="one" type="checkbox" /> One
 *        </label>
 *     </li>
 *   </ul>
 * </div>
 */

.checklist,
ul.checklist,
ol.checklist
  list-style: none
  margin: 0
  padding: 0
  label
    cursor: pointer
    font-weight: 400
    padding: $base/2 $base*2 $base/2 $base*3.25
    position: relative

    &:hover
      background: darken($grey5, 1%)
  li
    margin: 0
    list-style: none

  li.last-year
    position: relative
    span.last-year-value
      color: $yellow
      display: inline-block
      position: relative
      
    label 
      position: relative
      &:before
        background-position: 0 0
        background-repeat: no-repeat
        background-image: url(../images/icon-check.png)
        content: ""
        display: block
        height: 14px
        margin-top: -6px
        position: absolute
        left: -$base*4
        top: 50%
        width: 14px
        .backgroundsize &
          background-image: url(../images/icon-check-2x.png)
          background-size: 14px 14px
    &:after
      content: attr(data-last-year)
      color: $yellow
      display: block
      float: right
      font-size: $base*1.75
      left: 5%
      margin-top: -$base*5
      position: relative
      width: 35%
      z-index: 1

  input[type=checkbox],
  input[type=radio]
    left: 2px
    position: absolute  
    top: 6px
    width: 13px

    &.vertically-centered
      margin-top: -5px
      top: 50%
    &.vertically-centered + input
      margin-left: $base
      margin-right: $base

 
      
.submit-group
  @extend .cf


/*============================================
 ^Buttons
 * ==========================================*/

.btn
  @include transition (none)
  border: solid 1px
  box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.25)
  cursor: pointer
  display: inline-block
  font: inherit
  font-weight: 500
  margin: 0 $base $base 0
  padding: $base $base*2 $base
  position: relative
  text-transform: uppercase

  &:hover
    box-shadow: 0 1px 3px rgba(0,0,0,.5)
  &:active
    top: 1px
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25), 0 1px 0 #fff

  &:last-child
    margin-right: 0

.btn-blue
  @include gradient ($blue, ($blue, darken($blue, 10%)))
  border-color: $darkblue
  color: #fff
  text-shadow: 0 1px 1px rgba(0,0,0,.25)

  &:hover
    @include gradient (lighten($blue, 1%), (lighten($blue, 1%), darken($blue, 1%)))
    border-color: darken($darkblue, 10%)

  &:active,
  .open &
    background: darken($blue, 10%)
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25), 0 1px 0 #fff

  &.btn-disabled
    background: desaturate(lighten($blue, 40%), 50%)
    border-color: desaturate(lighten($blue, 30%), 50%)
    color: $bodybg

.btn-yellow
  @include gradient ($yellow, ($yellow, darken($yellow, 10%)))
  border-color: $darkyellow
  color: #fff
  text-shadow: 0 1px 1px rgba(0,0,0,.25)

  &:hover
    @include gradient (lighten($yellow, 1%), (lighten($yellow, 1%), darken($yellow, 1%)))
    border-color: darken($darkyellow, 5%)

  &:active
    background: darken($yellow, 10%)
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25), 0 1px 0 #fff

  &.btn-disabled
    background: desaturate(lighten($yellow, 40%), 50%)
    border-color: desaturate(lighten($yellow, 30%), 50%)
    color: $bodybg

.btn-grey
  @include gradient ($grey5, ($grey5, $grey10))
  border-color: $grey30
  color: $grey100
  text-shadow: 0 -1px 0 rgba(255,255,255,.25)

  &:hover
    @include gradient (lighten($grey5, 1%), (#fff, darken($grey10, 1%)))
    border-color: $grey40
  &:active,
  &.active
    background: darken($grey5, 5%)
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25), 0 1px 0 #fff

  &.btn-disabled
    background: $grey15
    border-color: $grey20
    color: $grey50

.btn-link
  background: none
  border: none
  box-shadow: none
  font-weight: 500
  text-shadow: 0 1px 1px rgba(255,255,255,.75)
  &:hover
    background: none
    border: none
    box-shadow: none
    color: $black
    text-decoration: underline
  &:active
    background: none
    border: none
    box-shadow: none
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active
  box-shadow: 0 1px 0 #fff
  cursor: default
  text-shadow: none
  top: 0

.btn-small
  padding: $base*.5 $base*1.25
  
.btn-block
  display: block
  text-align: center

.btn-group
  @extend .cf
  .btn
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.25), inset 1px 1px 0 rgba(255,255,255,.25)
    float: left
    margin: 0 0 0 -1px

    &:first-child
      border-radius: $base/2 0 0 $base/2
      box-shadow: 0 1px 2px -1px rgba(0,0,0,.25), inset 0px 1px 0 rgba(255,255,255,.25)
    &:last-child
      border-radius: 0 $base/2 $base/2 0
    &:hover
      z-index: 2
    &:active
      top: 0
  .btn-section
    .btn
      border-radius: 0
    &:first-child
      .btn:first-child
        border-radius: $base/2 0 0 $base/2
    &:last-child
      .btn:last-child
        border-radius: 0 $base/2 $base/2 0

.btn-dropdown
  &:after
    content: "▼"
    display: inline
    font-size: 10px
    margin-left: $base
    position: relative
    top: -1px



/*============================================
 ^Search box
 * ==========================================*/

/*
 * Format
 * e.g.:
 * <div class="search">
 *     <input type="text" placeholder="Search..." />
 *     <a href="" class="btn btn-yellow btn-small btn-search"></a>
 * </div>
 */

.search 
  background: #fff
  border: solid 1px $grey20
  box-shadow: inset 0 1px 2px rgba(0,0,0,.10), 0 1px 0 #fff
  display: inline-block
  padding: 1px 35px 1px 1px
  position: relative

  input[type=text]
    background: none
    border: none
    box-shadow: none
    padding: 0 0 0 $base - 1

    &:focus
      border-color: none
      box-shadow: none

    .ie8 &
      padding-top: $base + 2
  .btn-search
    bottom: 2px
    right: 2px
    top: 2px
    margin: 0
    padding: 0
    position: absolute
    width: 34px

    &:after
      background: url(../images/icon-search.png) center center no-repeat
      content: ""
      display: block
      height: 100%
      width: 100%



/*============================================
 ^Icons
 * ==========================================*/

.icon
  background-position: 0 0
  background-repeat: no-repeat
  display: inline-block
  height: 14px
  width: 14px
  .backgroundsize &
    background-size: 14px 14px
  &.icon-inline
    position: relative
    top: 2px    

.icon-ok
  background-image: url(../images/icon-ok.png)
  .backgroundsize &
    background-image: url(../images/icon-ok-2x.png)

.icon-warning
  background-image: url(../images/icon-warning.png)
  .backgroundsize &
    background-image: url(../images/icon-warning-2x.png)

.icon-error
  background-image: url(../images/icon-error.png)
  .backgroundsize &
    background-image: url(../images/icon-error-2x.png)

.icon-empty
  background-image: url(../images/icon-empty.png)
  .backgroundsize &
    background-image: url(../images/icon-empty-2x.png)

.icon-close
  background-image: url(../images/icon-close.png)
  .backgroundsize &
    background-image: url(../images/icon-close-2x.png)

.icon-next
  background-image: url(../images/icon-next.png)
  .backgroundsize &
    background-image: url(../images/icon-next-2x.png)

.icon-prev
  background-image: url(../images/icon-prev.png)
  .backgroundsize &
    background-image: url(../images/icon-prev-2x.png)



/*============================================
 ^Chosen
 * ==========================================*/

.chzn-container
  @extend select
  position: relative
  padding: 0

.chzn-drop
  @extend .dropdown-menu
  padding: 0

.chzn-container-active
  border-color: $blue !important
  box-shadow: 0 0 5px transparentize($blue, .70) !important

  .chzn-drop
    display: block

.chzn-search
  border-bottom: solid 1px $grey20
  margin: 0
  padding: $base

.chzn-results
  margin: $base 0
  padding: 0

  li
    display: none

  .active-result
    cursor: pointer
    display: block
    list-style: none
    padding: 0 $base

    &:hover
      @include gradient ($blue, ($blue, darken($blue, 10%)))
      border-bottom: none
      color: #fff

      em
        background: none
  em
    background: desaturate(lighten($yellow, 40%), 10%)
    color: $black
    font-style: normal

/*
 * Single Chosen Select
 */

.chzn-single
  border: none
  color: $black
  display: block
  line-height: $base*2+2
  padding: $base

  &:hover
    border: none
  &:active
    top: 0


/*
 * Multi select chosen
 */

.chzn-container-multi
  height: auto

.chzn-choices
  @extend .cf
  margin: 0
  padding: $base/2 $base/2 $base/4 
  li
    display: block
    margin: 0 $base/4 $base/4 0
    float: left

  li.search-field 
    background: none
    padding-right: $base*3
    input
      height: $base*3

  .search-field input,
  .search-field input:focus,
  .search-field input:hover
    border: none
    box-shadow: none

  .search-choice,
  .search-choice:hover,
  .search-choice:active
    @include gradient ($grey10, ($grey10, darken($grey10, 10%)))
    border: solid 1px $grey50
    border-radius: $base/4
    color: $grey100
    display: block
    margin: 0 $base/2 $base/2 0
    padding: 0 $base*3 0 $base
    position: relative
    text-shadow: 0 -1px 0 rgba(255,255,255,.25)
    top: 0
    text-transform: none

  .search-choice-close
    border: none
    content: ""
    display: block
    height: 100%
    position: absolute
    top: 0
    right: 0
    width: $base*3

    &:after
      content: "\00D7"
      color: $grey100
      display: block
      font-weight: 500
      font-size: $base*2.5
      height: 100%
      left: 0
      line-height: normal
      position: absolute
      top: 2px
      text-align: center
      width: 100%

    &:hover
      &:after
        color: $red

  .search-field
    background: #fff

/*============================================
 ^Alerts
 * ==========================================*/

.alert
  border: solid 1px
  border-radius: $base/2
  box-shadow: 0 1px 0 #fff
  display: none
  font-weight: 500
  position: relative
  text-shadow: 0 1px 0 #fff

  .close
    font-size: $base*3
    font-weight: 600
    position: absolute
    right: $base*1.5
    top: $base/2
    text-shadow: 0 1px 0 rgba(255,255,255,.75)

    &:hover
      border: transparent
      color: $black
    &:active
      top: $base/2+1

  &.in
    display: block

.notice
  @extend .alert
  @extend .island-small
  @extend .info
  display: block !important

.errors
  @extend .alert
  @extend .error
  @extend .island-small
  display: block !important


  div.error
    border: none !important
    background: none !important



/*============================================
 ^Tooltips - Copied from twitter bootstrap
 * ==========================================*/

.tooltip
  @include transition(opacity .25s)
  position: absolute
  z-index: 1030
  display: block
  margin-top: -3px
  padding: 5px
  font-size: 13px
  opacity: 0
  filter: alpha(opacity=0)
  visibility: visible


.tooltip.in
  opacity: 0.8
  filter: alpha(opacity=80)



.tooltip-inner
  max-width: 400px
  padding: 3px 8px
  color: #ffffff
  text-align: center
  text-decoration: none
  text-transform: uppercase
  background-color: #000000
  border-radius: 4px
  text-shadow: none
  white-space: nowrap

.tooltip-arrow
  position: absolute
  width: 0
  height: 0
  border-color: transparent
  border-style: solid
  bottom: 0
  left: 50%
  margin-left: -5px
  border-top-color: #000000
  border-width: 5px 5px 0


/*============================================
 ^Nav - Abstractions
 * ==========================================*/


/*
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 * <ul class=nav>
 *     <li><a href=#>Home</a></li>
 *     <li><a href=#>About</a></li>
 *     <li><a href=#>Portfolio</a></li>
 *     <li><a href=#>Contact</a></li>
 * </ul>
 */

.nav
  list-style: none
  padding: 0
  @extend .cf

  > li,
  > li > a,
  > li > span
    list-style: none
    display: inline-block
    margin: 0
    zoom: 1
.nav-centered
  text-align: center
     

/**
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.: 
 *
   <ul class="nav stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */

.stacked 
  > li
    display: list-item
    > a,
    > span
      display: block

.with-separator
  > li:after
    content: "|"
    color: $grey40
    display: inline
    margin: 0 $base
  > li:last-child:after,
  > li.last:after
    display: none


.nav
  li
    input
      position: relative
      top: -$base


  

/*============================================
 ^Island - Abstractions
 * ==========================================*/


.island
  margin-bottom: $base*2
  padding: $base*4

  .island > :last-child
    margin-bottom: 0

.island-small
  padding: $base*2
 

/*============================================
 ^Inset/Outset - Abstractions
 * ==========================================*/

.inset
  background-color: $bodybg
  box-shadow: inset 0 1px 2px transparentize($grey100, .9), 0 1px 0 #fff
  border: solid 1px $grey30

.inset-white
  background: #fff

.outset
  background: #fff
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.15)

  .no-boxshadow & 
    border: solid 1px $grey15

/*============================================
 ^Separator - Abstractions
 * ==========================================*/

.sep
  @extend .cf
  background: $grey20
  box-shadow: 0 1px 0 #fff
  display: block
  font-size: 1px
  line-height: 1px
  height: 1px
  margin: $base*2 0


/*============================================
 ^Tabs
 * ==========================================*/
 
.tab-nav
  margin: 0 0 $base 0

.tab-nav a,
.fake-tab.collapsed
  background: #fff
  border: solid 1px $grey20
  border-radius: $base/2
  display: inline-block
  padding: $base/2 $base

  &:hover
    background: $grey5
    color: $grey100
  &:after
    display: none

.tab-nav .active a,
.fake-tab
  border-radius: $base/2 $base/2 0 0
  border: solid 1px $grey20

  padding: $base/2 $base
  &:after
    background: #fff
    border-left: solid 1px $grey20
    border-right: solid 1px $grey20
    bottom: -$base - 2
    content: ""
    display: block
    height: $base + 2
    left: -1px
    right: -1px
    position: absolute
    z-index: 2
  &:hover
    background: #fff
    border-bottom: solid 1px $grey20


.tab-content
  @extend .cf
  margin-bottom: $base*3

  &:last-child
    margin: 0

.tab
  background: #fff
  border: solid 1px $grey20
  border-radius: 0 0 $base/2 $base/2
  display: none

  &.active
    display: block


/*============================================
 ^Key Value Display
 * ==========================================*/

.key-value-display
  display: table
  margin-bottom: $base*3
  overflow: hidden
  width: 100%

  &:last-child
    margin: 0

  dl
    display: table-row
  dt,dd
    border-bottom: dashed 1px $grey20
    display: table-cell
    padding: $base*3 $base $base
    width: 50%
    ul,ol
      margin-left: 0
    li
      list-style: none
      margin-bottom: 0

      &:after
        content: ","
        display: inline

  dt
    color: $grey50
    vertical-align: bottom

  dl.key-value-display-title
    margin: 0
    padding: 0 $base
    width: 100%
    
    dt,dd
      @extend .h3
      border-bottom: solid 1px $grey40
      color: $darkyellow
      margin: 0
      padding: 0 $base $base

/*============================================
 ^Affix
 * ==========================================*/

.affixed
  position: fixed
  top: 0
