/*Reset ===================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, select, .chzn-container, input, textarea {
  color: #444444; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/*============================================
 * Framework
 * Project:  SullivanCotter Client Portal
 * 
 *--Table of Contents--
 *  ^Readme
 *  ^Helpers..................Arbitrary helper classes
 *  ^Fonts....................Embedded typekit and weights
 *  ^Main.....................High Level Elements (html/body)
 *  ^Headings.................h1-h6 elements
 *  ^Typography...............<p> elements and other minor type elements
 *  ^Links....................Anchor links
 *  ^Collapseable Links
 *  ^Lists
 *  ^Pagination
 *  ^Tables
 *  ^Status Colors............Warnings/Errors and info boxes
 *  ^Modals
 *  ^Dropdowns
 *--Form Elements--
 *  ^Forms
 *  ^Control Groups...........Styles for grouping forms together.
 *  ^Buttons
 *  ^Search Box...............Encase search <input> with an icon button
 *  ^Icons
 *  ^Chosen
 *  ^Alerts
 *  ^Tooltips
 *--Abstractions--
 *  ^Nav
 *  ^Island
 *  ^Inset/Outset
 *  ^Separator
 *  ^Tabs
 *--Other--
 *  ^Key Value Display
 *  ^Affix
 *
 *
 * ============================================ */
/*============================================
 * ^Readme
 * 
 * This file is the base framework containing a number of objects and abstractions
 * that form the basis for much of the app/site. CSS for new or un-anticipated site
 * elements should go in styles.sass.
 * ========================================== */
/*============================================
 * ^Fonts
 *
 * font-family: "freight-sans-pro"
 *
 * light
 *   font-weight: 300
 * book
 *   font-weight: 400
 * medium
 *   font-weight: 500
 * semibold
 *   font-weight: 600
 * italic
 *   font-style: italic
 *
 * ========================================== */
/*============================================
 * ^Helper classes
 * ========================================== */
.fr {
  float: right; }

.fl {
  float: left; }

.alignright {
  text-align: right; }

.alignleft {
  text-align: left; }

.aligncenter {
  text-align: center; }

.inline {
  display: inline; }

.cf, .modal-body, .submit-group, .btn-group, .chzn-choices, .nav, .sep, .tab-content {
  zoom: 1; }
  .cf:before, .modal-body:before, .submit-group:before, .btn-group:before, .chzn-choices:before, .nav:before, .sep:before, .tab-content:before, .cf:after, .modal-body:after, .submit-group:after, .btn-group:after, .chzn-choices:after, .nav:after, .sep:after, .tab-content:after {
    content: "";
    display: table; }
  .cf:after, .modal-body:after, .submit-group:after, .btn-group:after, .chzn-choices:after, .nav:after, .sep:after, .tab-content:after {
    clear: both; }

.accessibility {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.placeholder {
  color: #b1b2b3; }

.danger, .control-group .error-message {
  color: #c8000e; }

.unimportant {
  color: #231f20; }

.yellow {
  color: #e59e01; }

.hidden {
  display: none; }

.relative {
  position: relative; }

/*============================================
 * ^Grid
 * ========================================== */
.grid, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin-left: 0.73%; }
  @media screen and (max-width: 750px) {
    .grid, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
      margin-left: 0 !important;
      margin-left: 0 !important;
      width: 100% !important; } }

.container {
  display: block;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1400px;
  min-width: 600px;
  width: 100%; }

.row {
  margin-left: 0.73%; }
  .row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.show-grid {
  margin-bottom: 10px; }
  .show-grid [class*="col"] {
    color: white;
    background: #a2a3a4;
    padding: 3px;
    text-align: center; }

.col1 {
  width: 7.6%; }

.col2 {
  width: 15.93%; }

.col3 {
  width: 24.26%; }

.col4 {
  width: 32.59%; }

.col5 {
  width: 40.92%; }

.col6 {
  width: 49.25%; }

.col7 {
  width: 57.58%; }

.col8 {
  width: 65.91%; }

.col9 {
  width: 74.24%; }

.col10 {
  width: 82.57%; }

.col11 {
  width: 90.9%; }

.col12 {
  width: 99.23%; }

.offset1 {
  margin-left: 9.06%; }

.offset2 {
  margin-left: 17.39%; }

.offset3 {
  margin-left: 25.72%; }

.offset4 {
  margin-left: 34.05%; }

.offset5 {
  margin-left: 42.38%; }

.offset6 {
  margin-left: 50.71%; }

.offset7 {
  margin-left: 59.04%; }

.offset8 {
  margin-left: 67.37%; }

.offset9 {
  margin-left: 75.7%; }

.offset10 {
  margin-left: 84.03%; }

.offset11 {
  margin-left: 92.36%; }

.offset12 {
  margin-left: 100.69%; }

/*============================================
 * ^Main
 * ========================================== */
html, body {
  background: #f9f8f6;
  color: #636466;
  font-size: 16px;
  line-height: 24px;
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }

body {
  padding-bottom: 32px; }

/*============================================
 * ^Headings
 * ========================================== */
h3, h4, h5, h6 {
  font-weight: 500;
  text-shadow: 0 1px 0 white; }

.bordered, h1,
.h1 {
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 32px;
  position: relative; }
  .bordered:before, h1:before,
  .h1:before, .bordered:after, h1:after,
  .h1:after {
    background: #e0e0e0;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%; }
  .bordered:before, h1:before,
  .h1:before {
    left: -32px; }
  .bordered:after, h1:after,
  .h1:after {
    left: auto;
    right: -32px; }

h1,
.h1 {
  color: #18466b;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 32px 0;
  padding: 0 0 24px 0; }
  h1.borderless,
  .h1.borderless {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 24px; }
    h1.borderless:after, h1.borderless:before,
    .h1.borderless:after,
    .h1.borderless:before {
      display: none; }

h2,
.h2 {
  color: #636466;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 24px 0;
  padding-top: 16px; }
  h2:first-child,
  .h2:first-child {
    padding-top: 0; }
  h2:last-child,
  .h2:last-child {
    margin-bottom: 0; }

h3,
.h3,
.key-value-display dl.key-value-display-title dt,
.key-value-display dl.key-value-display-title dd {
  color: #bc7d00;
  margin: 0 0 16px 0;
  padding-top: 16px;
  text-transform: uppercase; }
  h3:first-child,
  .h3:first-child,
  .key-value-display dl.key-value-display-title dt:first-child,
  .key-value-display dl.key-value-display-title dd:first-child {
    padding-top: 0; }
  h3:last-child,
  .h3:last-child,
  .key-value-display dl.key-value-display-title dt:last-child,
  .key-value-display dl.key-value-display-title dd:last-child {
    margin-bottom: 0; }

h4, .h4 {
  color: #231f20;
  margin: 0 0 8px;
  padding: 0; }

/*============================================
 * ^Typography
 * ========================================== */
p {
  margin: 0 0 16px 0; }
  p:last-child {
    margin-bottom: 0; }
  p.bordered,
  p.h1 {
    padding-bottom: 32px; }

code {
  font-size: 14px;
  font-weight: bold; }

strong {
  font-weight: 600; }

/*============================================
 * ^Links
 * ========================================== */
a {
  -moz-transition: color 0.15s, border 0.15s, background 0.15s;
  -ms-transition: color 0.15s, border 0.15s, background 0.15s;
  -webkit-transition: color 0.15s, border 0.15s, background 0.15s;
  transition: color 0.15s, border 0.15s, background 0.15s;
  border-bottom: solid 1px transparent;
  color: #0178be;
  text-decoration: none;
  position: relative; }
  a:hover {
    border-bottom: solid 1px; }
  a:active, a:focus {
    top: 1px; }

/*============================================
 * ^Collapseable Links
 * ========================================== */
.collapse-link {
  border: none;
  color: #231f20;
  font-weight: 500;
  position: relative;
  padding-left: 16px; }
  .collapse-link:hover {
    border: none;
    text-decoration: underline; }
  .collapse-link:before {
    content: "▼";
    display: block;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 0; }
    .ie8 .collapse-link:before {
      font-size: 16px; }
  .collapse-link.collapsed {
    color: #0178be; }
    .collapse-link.collapsed:before {
      content: "▶"; }
      .ie8 .collapse-link.collapsed:before {
        font-size: 10px; }

.collapse {
  height: 0;
  overflow: hidden; }
  .collapse.in {
    height: auto; }

/*============================================
 * ^Lists
 * ========================================== */
ul, ol {
  margin-bottom: 24px;
  margin-left: 24px; }
  ul li, ol li {
    margin-bottom: 8px; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }

ul,
ul li {
  list-style: disc; }

ol,
ol li {
  list-style: decimal; }

.divided-overview .overview-title {
  text-transform: uppercase; }
.divided-overview a {
  -moz-transition: color 0.25s border 0.25s;
  -ms-transition: color 0.25s border 0.25s;
  -webkit-transition: color 0.25s border 0.25s;
  transition: color 0.25s border 0.25s;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  color: #231f20; }
  .divided-overview a:hover {
    color: #0178be;
    border-bottom: solid 1px; }
.divided-overview ul, .divided-overview ol {
  margin-left: 16px; }
.divided-overview li {
  margin: 0;
  padding: 16px 0; }
.divided-overview li li li {
  padding: 16px 0 0 0; }
.divided-overview > li > ul,
.divided-overview > li > ol {
  margin-top: 16px; }
  .divided-overview > li > ul > li,
  .divided-overview > li > ol > li {
    border-top: solid 1px #e0e0e0; }

ol.divided-overview {
  color: #e59e01; }
  ol.divided-overview ol, ol.divided-overview ul {
    color: #636466; }
    ol.divided-overview ol li, ol.divided-overview ul li {
      list-style: none; }

.label + .divided-overview {
  border-top: solid 1px #e0e0e0; }

/*============================================
 * ^Tables
 * ========================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 32px;
  width: 100%; }
  table:last-child {
    margin-bottom: 0; }

thead {
  display: table-row-group !important;
  float: none !important; }
  thead td, thead th {
    border-bottom: solid 1px #d0d0d1;
    color: #231f20;
    display: table-cell;
    line-height: 20px;
    padding: 4px 8px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom; }
  thead th a {
    -moz-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
    border: transparent;
    color: #231f20;
    display: inline-block;
    padding-right: 14px;
    position: relative; }
    thead th a:after, thead th a:before {
      color: #e0e0e0;
      content: "▲";
      display: block;
      font-size: 8px;
      position: absolute;
      right: 0;
      top: -4px; }
    thead th a:after {
      content: "▼";
      margin-top: 8px; }
    thead th a:hover, thead th a:hover:before, thead th a:hover:after {
      border: transparent;
      color: #0178be; }
    thead th a.current:hover:before, thead th a.current:hover:after {
      color: #0178be; }
    thead th a.asc:before {
      display: none; }
    thead th a.asc:after {
      color: #231f20;
      font-size: 10px;
      top: -7px; }
    thead th a.desc:before {
      color: #231f20;
      font-size: 10px;
      top: 0px; }
    thead th a.desc:after {
      display: none; }

tbody {
  display: table-row-group !important;
  float: none !important; }
  tbody td, tbody th {
    border-bottom: solid 1px #e8e8e8;
    display: table-cell;
    padding: 8px;
    text-align: left; }
    tbody td.tree-offset1, tbody th.tree-offset1 {
      padding-left: 24px; }
    tbody td.tree-offset2, tbody th.tree-offset2 {
      padding-left: 48px; }
    tbody td .offset1, tbody th .offset1 {
      margin-left: 0; }
  tbody tr:hover td, tbody tr:hover th {
    background: #f7f7f7;
    color: #636466;
    text-shadow: 0 1px 0 white; }

.t5 {
  width: 5%; }

.t10 {
  width: 10%; }

.t12 {
  width: 12.5%; }

.t15 {
  width: 15%; }

.t16 {
  width: 16%; }

.t17 {
  width: 17%; }

.t18 {
  width: 18%; }

.t19 {
  width: 19%; }

.t20 {
  width: 20%; }

.t25 {
  width: 25%; }

.t30 {
  width: 30%; }

.t33 {
  width: 33.333%; }

.t35 {
  width: 35%; }

.t37 {
  width: 37.5%; }

.t40 {
  width: 40%; }

.t45 {
  width: 45%; }

.t50 {
  width: 50%; }

.t55 {
  width: 55%; }

.t60 {
  width: 60%; }

.t62 {
  width: 62.5%; }

.t65 {
  width: 65%; }

.t66 {
  width: 66.666%; }

.t70 {
  width: 70%; }

.t75 {
  width: 75%; }

.t80 {
  width: 80%; }

.t85 {
  width: 85%; }

.t87 {
  width: 87.5%; }

.t90 {
  width: 90%; }

.t95 {
  width: 95%; }

table.form-table {
  margin-top: 16px; }
  table.form-table thead td, table.form-table thead th {
    font-size: 14px;
    text-transform: none; }

/*============================================
 * ^Pagination
 * ========================================== */
.pagination {
  text-align: center; }
  .pagination .btn {
    margin: 0 8px; }
  .pagination input[type=text] {
    color: #0178be;
    font-weight: 600;
    width: 45px; }
  .pagination small {
    color: #b1b2b3;
    display: block;
    padding-top: 16px; }

/*============================================
 * ^Status Colors
 * ========================================== */
.info, .notice {
  background: #e4eef3 !important;
  border: solid 1px #0178be !important;
  color: #18466b !important; }
  .info .close, .notice .close {
    color: #18466b; }

.warning {
  background: #f9f5ec !important;
  border: solid 1px #e59e01 !important;
  color: #bc7d00 !important; }
  .warning .close {
    color: #bc7d00; }

.error, .control-group-error textarea, .control-group-error
select, .control-group-error
.chzn-container, .control-group-error
input[type="date"], .control-group-error
input[type="datetime"], .control-group-error
input[type="datetime-local"], .control-group-error
input[type="email"], .control-group-error
input[type="month"], .control-group-error
input[type="number"], .control-group-error
input[type="password"], .control-group-error
input[type="search"], .control-group-error
input[type="tel"], .control-group-error
input[type="text"], .control-group-error
input[type="time"], .control-group-error
input[type="url"], .control-group-error
input[type="week"], .errors {
  background: #f6eaeb !important;
  border: solid 1px #c8000e !important;
  color: #b41c14 !important; }
  .error .close, .control-group-error textarea .close, .control-group-error
  select .close, .control-group-error
  .chzn-container .close, .control-group-error
  input[type="date"] .close, .control-group-error
  input[type="datetime"] .close, .control-group-error
  input[type="datetime-local"] .close, .control-group-error
  input[type="email"] .close, .control-group-error
  input[type="month"] .close, .control-group-error
  input[type="number"] .close, .control-group-error
  input[type="password"] .close, .control-group-error
  input[type="search"] .close, .control-group-error
  input[type="tel"] .close, .control-group-error
  input[type="text"] .close, .control-group-error
  input[type="time"] .close, .control-group-error
  input[type="url"] .close, .control-group-error
  input[type="week"] .close, .errors .close {
    color: #b41c14; }

.status-in-progress {
  color: #e59e01; }

.status-errors {
  color: #c8000e; }

.status-complete {
  color: #0178be; }

/*============================================
 * ^Modals
 * ========================================== */
.modal-backdrop {
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  background: #231f20;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040; }

.modal-backdrop.fade {
  opacity: 0; }

.modal.hide {
  display: none; }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.modal {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 70%;
  margin-left: -35%;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none; }

.modal.fade {
  top: -25%; }

.modal.fade.in {
  top: 10%; }

.modal-header {
  background: #efeff0;
  box-shadow: inset 0 -1px 3px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d0d0d1;
  position: relative; }

.modal-header .close {
  font-size: 24px;
  line-height: normal;
  padding: 0 12px 4px;
  position: absolute;
  top: 20px;
  right: 24px; }
  .modal-header .close:active {
    top: 21px; }

.modal-title {
  color: #18466b;
  display: block;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  padding: 24px 48px 24px 24px;
  text-shadow: 0 1px 0 white; }

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 24px;
  overflow-y: auto; }

.modal-form {
  margin-bottom: 0; }

.modal-footer {
  background: #efeff0;
  box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #d0d0d1;
  overflow: hidden;
  padding: 24px;
  position: relative; }

/*============================================
 * ^Dropdowns
 * ========================================== */
.dropdown {
  display: inline-block;
  position: relative; }

.dropdown-menu, .chzn-drop {
  background: white;
  border: solid 1px #c1c1c2;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  padding: 4px 0;
  right: 0;
  top: 100%;
  width: 200px;
  z-index: 10; }
  .open .dropdown-menu, .open .chzn-drop {
    display: block; }
  .dropdown-menu a, .chzn-drop a {
    border-bottom: none;
    color: #636466;
    padding: 4px 16px; }
    .dropdown-menu a:hover, .chzn-drop a:hover {
      background-color: #0178be;
      background-image: -moz-linear-gradient(#0178be, #01588b);
      background-image: -ms-linear-gradient(#0178be, #01588b);
      background-image: -webkit-linear-gradient(#0178be, #01588b);
      background-image: linear-gradient(#0178be, #01588b);
      border-bottom: none;
      color: white; }
    .dropdown-menu a.disabled, .chzn-drop a.disabled, .dropdown-menu a.disabled:hover, .chzn-drop a.disabled:hover, .dropdown-menu a.disabled:active, .chzn-drop a.disabled:active {
      background: none;
      color: #b1b2b3;
      cursor: default;
      top: 0; }
  .dropdown-menu li:first-child a, .chzn-drop li:first-child a {
    border-radius: 4px 4px 0 0; }
  .dropdown-menu li:last-child a, .chzn-drop li:last-child a {
    border-radius: 0 0 4px 4px; }
  .dropdown-menu li.sep, .chzn-drop li.sep {
    margin: 4px 0; }

/*============================================
 * ^Forms
 * ========================================== */
/* Fieldsets provide a little grouping and spacing
 */
fieldset {
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 16px;
  padding-bottom: 32px; }
  fieldset:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  fieldset .sep {
    float: left;
    margin-top: 32px;
    width: 100%; }

textarea,
select,
.chzn-container,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  border-radius: 0;
  color: #231f20;
  display: inline-block;
  outline: 0;
  padding: 2px 8px 0 8px;
  text-align: left;
  font-size: 14px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 36px; }
  textarea:focus,
  select:focus,
  .chzn-container:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus {
    border-color: #0178be;
    box-shadow: 0 0 5px rgba(1, 120, 190, 0.3); }
  .control-group textarea, .control-group
  select, .control-group
  .chzn-container, .control-group
  input[type="date"], .control-group
  input[type="datetime"], .control-group
  input[type="datetime-local"], .control-group
  input[type="email"], .control-group
  input[type="month"], .control-group
  input[type="number"], .control-group
  input[type="password"], .control-group
  input[type="search"], .control-group
  input[type="tel"], .control-group
  input[type="text"], .control-group
  input[type="time"], .control-group
  input[type="url"], .control-group
  input[type="week"] {
    width: 100%; }
  .control-group-horizontal textarea, .control-group-horizontal
  select, .control-group-horizontal
  .chzn-container, .control-group-horizontal
  input[type="date"], .control-group-horizontal
  input[type="datetime"], .control-group-horizontal
  input[type="datetime-local"], .control-group-horizontal
  input[type="email"], .control-group-horizontal
  input[type="month"], .control-group-horizontal
  input[type="number"], .control-group-horizontal
  input[type="password"], .control-group-horizontal
  input[type="search"], .control-group-horizontal
  input[type="tel"], .control-group-horizontal
  input[type="text"], .control-group-horizontal
  input[type="time"], .control-group-horizontal
  input[type="url"], .control-group-horizontal
  input[type="week"] {
    float: right;
    position: relative;
    top: 18px;
    width: 30%; }
  .ie8 textarea, .ie8
  select, .ie8
  .chzn-container, .ie8
  input[type="date"], .ie8
  input[type="datetime"], .ie8
  input[type="datetime-local"], .ie8
  input[type="email"], .ie8
  input[type="month"], .ie8
  input[type="number"], .ie8
  input[type="password"], .ie8
  input[type="search"], .ie8
  input[type="tel"], .ie8
  input[type="text"], .ie8
  input[type="time"], .ie8
  input[type="url"], .ie8
  input[type="week"] {
    padding-top: 8px; }
  textarea.skinny,
  select.skinny,
  .skinny.chzn-container,
  input[type="date"].skinny,
  input[type="datetime"].skinny,
  input[type="datetime-local"].skinny,
  input[type="email"].skinny,
  input[type="month"].skinny,
  input[type="number"].skinny,
  input[type="password"].skinny,
  input[type="search"].skinny,
  input[type="tel"].skinny,
  input[type="text"].skinny,
  input[type="time"].skinny,
  input[type="url"].skinny,
  input[type="week"].skinny {
    margin-right: 8px;
    width: 30%; }
    textarea.skinny:last-child,
    select.skinny:last-child,
    .skinny.chzn-container:last-child,
    input[type="date"].skinny:last-child,
    input[type="datetime"].skinny:last-child,
    input[type="datetime-local"].skinny:last-child,
    input[type="email"].skinny:last-child,
    input[type="month"].skinny:last-child,
    input[type="number"].skinny:last-child,
    input[type="password"].skinny:last-child,
    input[type="search"].skinny:last-child,
    input[type="tel"].skinny:last-child,
    input[type="text"].skinny:last-child,
    input[type="time"].skinny:last-child,
    input[type="url"].skinny:last-child,
    input[type="week"].skinny:last-child {
      margin-right: 0; }
  textarea.mid,
  select.mid,
  .mid.chzn-container,
  input[type="date"].mid,
  input[type="datetime"].mid,
  input[type="datetime-local"].mid,
  input[type="email"].mid,
  input[type="month"].mid,
  input[type="number"].mid,
  input[type="password"].mid,
  input[type="search"].mid,
  input[type="tel"].mid,
  input[type="text"].mid,
  input[type="time"].mid,
  input[type="url"].mid,
  input[type="week"].mid {
    width: 50%; }

select, .chzn-container {
  padding: 8px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) {
    select, .chzn-container {
      background-image: url(../images/bg-select.png) !important;
      background-repeat: no-repeat;
      background-position: center right; } }

::-webkit-input-placeholder {
  color: #b1b2b3; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b1b2b3; }

textarea {
  height: 96px;
  padding: 8px; }

/* Wrap all sets of questions & answers with a <div class="control-group"/> or
 * <p class="control-group">. Maintain this relationship when handling dependent questions.
 * e.g.:
 * <div class="control-group">
 *     <label></label>
 *     <input />
 *     <div class="control-group">
 *        <label></label>
 *        <input />
 *     </div>
 * </div>
 */
.control-group {
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  display: block;
  float: left;
  margin: 0;
  position: relative;
  width: 80%; }
  .control-group .nav {
    margin-left: 0; }
  .control-group .group-title {
    color: #bc7d00;
    margin: 0 0 16px 0;
    padding-top: 16px;
    text-transform: uppercase;
    margin-bottom: 0; }
    .control-group .group-title .num {
      color: #bc7d00;
      top: 16px; }
  .control-group .num {
    color: #b1b2b3;
    display: block;
    font-size: 14px;
    left: 0;
    height: 10px;
    position: absolute;
    top: 24px;
    width: 30px; }
  @media screen and (max-width: 600px) {
    .control-group {
      width: 100%; } }
  .control-group .control-group {
    display: block;
    float: left;
    padding-left: 40px;
    width: 100%; }
    .control-group .control-group.numbered {
      padding-left: 48px; }
  .control-group.full-width {
    max-width: 100%;
    width: 100%; }
  .control-group.numbered {
    padding-left: 32px; }
  .control-group:hover .message, .touch .control-group .message {
    opacity: 1; }
  .control-group .additional,
  .control-group .error-message {
    font-size: 14px;
    float: left;
    margin: 0 0 8px 0;
    width: 100%; }
    .control-group-horizontal .control-group .additional, .control-group-horizontal
    .control-group .error-message {
      margin: 8px 0 0 0; }
  .control-group .additional {
    color: #b1b2b3; }
  .control-group .last-year {
    color: #e59e01; }

.control-group-horizontal label,
.control-group-horizontal .label {
  max-width: 65%;
  float: left; }

.control-group-error:after {
  bottom: 12px;
  content: "";
  display: block;
  position: absolute;
  right: 12px; }

.control-group-horizontal:after {
  bottom: auto;
  top: 28px; }

.control-group-btn {
  padding-top: 24px; }

.control-group-disabled li.last-year label:before,
.control-group-disabled li.last-year:after {
  display: none !important; }
.control-group-disabled label:hover {
  background: white !important; }
.control-group-disabled label, .control-group-disabled p, .control-group-disabled span {
  color: #d0d0d1 !important;
  cursor: default !important;
  text-shadow: 0 !important; }
.control-group-disabled input, .control-group-disabled select, .control-group-disabled .chzn-container {
  background: #efeff0 !important;
  border-color: #e8e8e8 !important;
  color: #e8e8e8 !important;
  box-shadow: none !important; }
.control-group-disabled input[type=radio],
.control-group-disabled input[type=checkbox] {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5); }
.control-group-disabled ::-webkit-input-placeholder {
  color: #e8e8e8; }
.control-group-disabled input:-moz-placeholder,
.control-group-disabled textarea:-moz-placeholder {
  color: #e8e8e8; }

.message {
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  border-radius: 4px;
  bottom: 0;
  display: block;
  font-weight: 500;
  margin-left: 16px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  left: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  width: 33%;
  z-index: 1; }
  .message:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 12px;
    content: "";
    display: block;
    height: 12px;
    left: -6px;
    position: absolute;
    width: 12px; }
  .message.error-message, .message.error-message:before {
    background: #c8000e;
    color: white; }
  .control-group-horizontal .message {
    bottom: auto;
    top: 14px; }
    .control-group-horizontal .message:before {
      bottom: auto;
      top: 16px; }
  .full-width .message {
    bottom: auto;
    left: auto;
    right: 0;
    margin-top: 16px;
    top: 100%; }
    .full-width .message:before {
      left: auto;
      right: 12px;
      top: -6px; }

label,
.label {
  color: #636466;
  display: block;
  font-weight: 500;
  margin: 0;
  padding: 24px 16px 8px 0; }
  label.full-width,
  .label.full-width {
    max-width: 100%;
    width: 100%; }

/* Checklist & radio question formates
 * e.g.:
 * <div class="control-group">
 *     <label>Pick one...</label>
 *     <ul class="checklist">
 *     <li>
 *        <label for="one">
 *          <input id="one" name="one" type="checkbox" /> One
 *        </label>
 *     </li>
 *   </ul>
 * </div>
 */
.checklist,
ul.checklist,
ol.checklist {
  list-style: none;
  margin: 0;
  padding: 0; }
  .checklist label,
  ul.checklist label,
  ol.checklist label {
    cursor: pointer;
    font-weight: 400;
    padding: 4px 16px 4px 26px;
    position: relative; }
    .checklist label:hover,
    ul.checklist label:hover,
    ol.checklist label:hover {
      background: #f4f4f4; }
  .checklist li,
  ul.checklist li,
  ol.checklist li {
    margin: 0;
    list-style: none; }
  .checklist li.last-year,
  ul.checklist li.last-year,
  ol.checklist li.last-year {
    position: relative; }
    .checklist li.last-year span.last-year-value,
    ul.checklist li.last-year span.last-year-value,
    ol.checklist li.last-year span.last-year-value {
      color: #e59e01;
      display: inline-block;
      position: relative; }
    .checklist li.last-year label,
    ul.checklist li.last-year label,
    ol.checklist li.last-year label {
      position: relative; }
      .checklist li.last-year label:before,
      ul.checklist li.last-year label:before,
      ol.checklist li.last-year label:before {
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url(../images/icon-check.png);
        content: "";
        display: block;
        height: 14px;
        margin-top: -6px;
        position: absolute;
        left: -32px;
        top: 50%;
        width: 14px; }
        .backgroundsize .checklist li.last-year label:before, .backgroundsize
        ul.checklist li.last-year label:before, .backgroundsize
        ol.checklist li.last-year label:before {
          background-image: url(../images/icon-check-2x.png);
          background-size: 14px 14px; }
    .checklist li.last-year:after,
    ul.checklist li.last-year:after,
    ol.checklist li.last-year:after {
      content: attr(data-last-year);
      color: #e59e01;
      display: block;
      float: right;
      font-size: 14px;
      left: 5%;
      margin-top: -40px;
      position: relative;
      width: 35%;
      z-index: 1; }
  .checklist input[type=checkbox],
  .checklist input[type=radio],
  ul.checklist input[type=checkbox],
  ul.checklist input[type=radio],
  ol.checklist input[type=checkbox],
  ol.checklist input[type=radio] {
    left: 2px;
    position: absolute;
    top: 6px;
    width: 13px; }
    .checklist input[type=checkbox].vertically-centered,
    .checklist input[type=radio].vertically-centered,
    ul.checklist input[type=checkbox].vertically-centered,
    ul.checklist input[type=radio].vertically-centered,
    ol.checklist input[type=checkbox].vertically-centered,
    ol.checklist input[type=radio].vertically-centered {
      margin-top: -5px;
      top: 50%; }
    .checklist input[type=checkbox].vertically-centered + input,
    .checklist input[type=radio].vertically-centered + input,
    ul.checklist input[type=checkbox].vertically-centered + input,
    ul.checklist input[type=radio].vertically-centered + input,
    ol.checklist input[type=checkbox].vertically-centered + input,
    ol.checklist input[type=radio].vertically-centered + input {
      margin-left: 8px;
      margin-right: 8px; }

/*============================================
 * ^Buttons
 * ========================================== */
.btn {
  -moz-transition: none;
  -ms-transition: none;
  -webkit-transition: none;
  transition: none;
  border: solid 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  margin: 0 8px 8px 0;
  padding: 8px 16px 8px;
  position: relative;
  text-transform: uppercase; }
  .btn:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  .btn:active {
    top: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 white; }
  .btn:last-child {
    margin-right: 0; }

.btn-blue {
  background-color: #0178be;
  background-image: -moz-linear-gradient(#0178be, #01588b);
  background-image: -ms-linear-gradient(#0178be, #01588b);
  background-image: -webkit-linear-gradient(#0178be, #01588b);
  background-image: linear-gradient(#0178be, #01588b);
  border-color: #18466b;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .btn-blue:hover {
    background-color: #017bc3;
    background-image: -moz-linear-gradient(#017bc3, #0175b9);
    background-image: -ms-linear-gradient(#017bc3, #0175b9);
    background-image: -webkit-linear-gradient(#017bc3, #0175b9);
    background-image: linear-gradient(#017bc3, #0175b9);
    border-color: #0f2b41; }
  .btn-blue:active, .open .btn-blue {
    background: #01588b;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 white; }
  .btn-blue.btn-disabled {
    background: #a9cde2;
    border-color: #83b7d5;
    color: #f9f8f6; }

.btn-yellow {
  background-color: #e59e01;
  background-image: -moz-linear-gradient(#e59e01, #b27b01);
  background-image: -ms-linear-gradient(#e59e01, #b27b01);
  background-image: -webkit-linear-gradient(#e59e01, #b27b01);
  background-image: linear-gradient(#e59e01, #b27b01);
  border-color: #bc7d00;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .btn-yellow:hover {
    background-color: #eaa201;
    background-image: -moz-linear-gradient(#eaa201, #e09a01);
    background-image: -ms-linear-gradient(#eaa201, #e09a01);
    background-image: -webkit-linear-gradient(#eaa201, #e09a01);
    background-image: linear-gradient(#eaa201, #e09a01);
    border-color: #a26c00; }
  .btn-yellow:active {
    background: #b27b01;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 white; }
  .btn-yellow.btn-disabled {
    background: #ece0c6;
    border-color: #dfcba0;
    color: #f9f8f6; }

.btn-grey {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(#f7f7f7, #efeff0);
  background-image: -ms-linear-gradient(#f7f7f7, #efeff0);
  background-image: -webkit-linear-gradient(#f7f7f7, #efeff0);
  background-image: linear-gradient(#f7f7f7, #efeff0);
  border-color: #d0d0d1;
  color: #636466;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25); }
  .btn-grey:hover {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(white, #ececee);
    background-image: -ms-linear-gradient(white, #ececee);
    background-image: -webkit-linear-gradient(white, #ececee);
    background-image: linear-gradient(white, #ececee);
    border-color: #c1c1c2; }
  .btn-grey:active, .btn-grey.active {
    background: #eaeaea;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 white; }
  .btn-grey.btn-disabled {
    background: #e8e8e8;
    border-color: #e0e0e0;
    color: #b1b2b3; }

.btn-link {
  background: none;
  border: none;
  box-shadow: none;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .btn-link:hover {
    background: none;
    border: none;
    box-shadow: none;
    color: #231f20;
    text-decoration: underline; }
  .btn-link:active {
    background: none;
    border: none;
    box-shadow: none; }

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
  box-shadow: 0 1px 0 white;
  cursor: default;
  text-shadow: none;
  top: 0; }

.btn-small {
  padding: 4px 10px; }

.btn-block {
  display: block;
  text-align: center; }

.btn-group .btn {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25), inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  float: left;
  margin: 0 0 0 -1px; }
  .btn-group .btn:first-child {
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25), inset 0px 1px 0 rgba(255, 255, 255, 0.25); }
  .btn-group .btn:last-child {
    border-radius: 0 4px 4px 0; }
  .btn-group .btn:hover {
    z-index: 2; }
  .btn-group .btn:active {
    top: 0; }
.btn-group .btn-section .btn {
  border-radius: 0; }
.btn-group .btn-section:first-child .btn:first-child {
  border-radius: 4px 0 0 4px; }
.btn-group .btn-section:last-child .btn:last-child {
  border-radius: 0 4px 4px 0; }

.btn-dropdown:after {
  content: "▼";
  display: inline;
  font-size: 10px;
  margin-left: 8px;
  position: relative;
  top: -1px; }

/*============================================
 * ^Search box
 * ========================================== */
/* Format
 * e.g.:
 * <div class="search">
 *     <input type="text" placeholder="Search..." />
 *     <a href="" class="btn btn-yellow btn-small btn-search"></a>
 * </div>
 */
.search {
  background: white;
  border: solid 1px #e0e0e0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  display: inline-block;
  padding: 1px 35px 1px 1px;
  position: relative; }
  .search input[type=text] {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 0 0 7px; }
    .search input[type=text]:focus {
      border-color: none;
      box-shadow: none; }
    .ie8 .search input[type=text] {
      padding-top: 10px; }
  .search .btn-search {
    bottom: 2px;
    right: 2px;
    top: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 34px; }
    .search .btn-search:after {
      background: url(../images/icon-search.png) center center no-repeat;
      content: "";
      display: block;
      height: 100%;
      width: 100%; }

/*============================================
 * ^Icons
 * ========================================== */
.icon, .control-group-error:after {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px; }
  .backgroundsize .icon, .backgroundsize .control-group-error:after {
    background-size: 14px 14px; }
  .icon.icon-inline, .icon-inline.control-group-error:after {
    position: relative;
    top: 2px; }

.icon-ok {
  background-image: url(../images/icon-ok.png); }
  .backgroundsize .icon-ok {
    background-image: url(../images/icon-ok-2x.png); }

.icon-warning {
  background-image: url(../images/icon-warning.png); }
  .backgroundsize .icon-warning {
    background-image: url(../images/icon-warning-2x.png); }

.icon-error, .control-group-error:after {
  background-image: url(../images/icon-error.png); }
  .backgroundsize .icon-error, .backgroundsize .control-group-error:after {
    background-image: url(../images/icon-error-2x.png); }

.icon-empty {
  background-image: url(../images/icon-empty.png); }
  .backgroundsize .icon-empty {
    background-image: url(../images/icon-empty-2x.png); }

.icon-close {
  background-image: url(../images/icon-close.png); }
  .backgroundsize .icon-close {
    background-image: url(../images/icon-close-2x.png); }

.icon-next {
  background-image: url(../images/icon-next.png); }
  .backgroundsize .icon-next {
    background-image: url(../images/icon-next-2x.png); }

.icon-prev {
  background-image: url(../images/icon-prev.png); }
  .backgroundsize .icon-prev {
    background-image: url(../images/icon-prev-2x.png); }

/*============================================
 * ^Chosen
 * ========================================== */
.chzn-container {
  position: relative;
  padding: 0; }

.chzn-drop {
  padding: 0; }

.chzn-container-active {
  border-color: #0178be !important;
  box-shadow: 0 0 5px rgba(1, 120, 190, 0.3) !important; }
  .chzn-container-active .chzn-drop {
    display: block; }

.chzn-search {
  border-bottom: solid 1px #e0e0e0;
  margin: 0;
  padding: 8px; }

.chzn-results {
  margin: 8px 0;
  padding: 0; }
  .chzn-results li {
    display: none; }
  .chzn-results .active-result {
    cursor: pointer;
    display: block;
    list-style: none;
    padding: 0 8px; }
    .chzn-results .active-result:hover {
      background-color: #0178be;
      background-image: -moz-linear-gradient(#0178be, #01588b);
      background-image: -ms-linear-gradient(#0178be, #01588b);
      background-image: -webkit-linear-gradient(#0178be, #01588b);
      background-image: linear-gradient(#0178be, #01588b);
      border-bottom: none;
      color: white; }
      .chzn-results .active-result:hover em {
        background: none; }
  .chzn-results em {
    background: #fbe6b7;
    color: #231f20;
    font-style: normal; }

/* Single Chosen Select
 */
.chzn-single {
  border: none;
  color: #231f20;
  display: block;
  line-height: 18px;
  padding: 8px; }
  .chzn-single:hover {
    border: none; }
  .chzn-single:active {
    top: 0; }

/* Multi select chosen
 */
.chzn-container-multi {
  height: auto; }

.chzn-choices {
  margin: 0;
  padding: 4px 4px 2px; }
  .chzn-choices li {
    display: block;
    margin: 0 2px 2px 0;
    float: left; }
  .chzn-choices li.search-field {
    background: none;
    padding-right: 24px; }
    .chzn-choices li.search-field input {
      height: 24px; }
  .chzn-choices .search-field input,
  .chzn-choices .search-field input:focus,
  .chzn-choices .search-field input:hover {
    border: none;
    box-shadow: none; }
  .chzn-choices .search-choice,
  .chzn-choices .search-choice:hover,
  .chzn-choices .search-choice:active {
    background-color: #efeff0;
    background-image: -moz-linear-gradient(#efeff0, #d5d5d7);
    background-image: -ms-linear-gradient(#efeff0, #d5d5d7);
    background-image: -webkit-linear-gradient(#efeff0, #d5d5d7);
    background-image: linear-gradient(#efeff0, #d5d5d7);
    border: solid 1px #b1b2b3;
    border-radius: 2px;
    color: #636466;
    display: block;
    margin: 0 4px 4px 0;
    padding: 0 24px 0 8px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    top: 0;
    text-transform: none; }
  .chzn-choices .search-choice-close {
    border: none;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px; }
    .chzn-choices .search-choice-close:after {
      content: "\00D7";
      color: #636466;
      display: block;
      font-weight: 500;
      font-size: 20px;
      height: 100%;
      left: 0;
      line-height: normal;
      position: absolute;
      top: 2px;
      text-align: center;
      width: 100%; }
    .chzn-choices .search-choice-close:hover:after {
      color: #c8000e; }
  .chzn-choices .search-field {
    background: white; }

/*============================================
 * ^Alerts
 * ========================================== */
.alert, .notice, .errors {
  border: solid 1px;
  border-radius: 4px;
  box-shadow: 0 1px 0 white;
  display: none;
  font-weight: 500;
  position: relative;
  text-shadow: 0 1px 0 white; }
  .alert .close, .notice .close, .errors .close {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    right: 12px;
    top: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
    .alert .close:hover, .notice .close:hover, .errors .close:hover {
      border: transparent;
      color: #231f20; }
    .alert .close:active, .notice .close:active, .errors .close:active {
      top: 5px; }
  .alert.in, .in.notice, .in.errors {
    display: block; }

.notice {
  display: block !important; }

.errors {
  display: block !important; }
  .errors div.error, .errors div.errors {
    border: none !important;
    background: none !important; }

/*============================================
 * ^Tooltips - Copied from twitter bootstrap
 * ========================================== */
.tooltip {
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  position: absolute;
  z-index: 1030;
  display: block;
  margin-top: -3px;
  padding: 5px;
  font-size: 13px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible; }

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  border-radius: 4px;
  text-shadow: none;
  white-space: nowrap; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: black;
  border-width: 5px 5px 0; }

/*============================================
 * ^Nav - Abstractions
 * ========================================== */
/* Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 * <ul class=nav>
 *     <li><a href=#>Home</a></li>
 *     <li><a href=#>About</a></li>
 *     <li><a href=#>Portfolio</a></li>
 *     <li><a href=#>Contact</a></li>
 * </ul>
 */
.nav {
  list-style: none;
  padding: 0; }
  .nav > li,
  .nav > li > a,
  .nav > li > span {
    list-style: none;
    display: inline-block;
    margin: 0;
    zoom: 1; }

.nav-centered {
  text-align: center; }

/*
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.: 
 *
 *   <ul class="nav stacked">
 *       <li><a href=#>Home</a></li>
 *       <li><a href=#>About</a></li>
 *       <li><a href=#>Portfolio</a></li>
 *       <li><a href=#>Contact</a></li>
 *   </ul>
 *
 */
.stacked > li {
  display: list-item; }
  .stacked > li > a,
  .stacked > li > span {
    display: block; }

.with-separator > li:after {
  content: "|";
  color: #c1c1c2;
  display: inline;
  margin: 0 8px; }
.with-separator > li:last-child:after,
.with-separator > li.last:after {
  display: none; }

.nav li input {
  position: relative;
  top: -8px; }

/*============================================
 * ^Island - Abstractions
 * ========================================== */
.island {
  margin-bottom: 16px;
  padding: 32px; }
  .island .island > :last-child {
    margin-bottom: 0; }

.island-small, .notice, .errors {
  padding: 16px; }

/*============================================
 * ^Inset/Outset - Abstractions
 * ========================================== */
.inset, textarea,
select,
.chzn-container,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: #f9f8f6;
  box-shadow: inset 0 1px 2px rgba(99, 100, 102, 0.1), 0 1px 0 white;
  border: solid 1px #d0d0d1; }

.inset-white {
  background: white; }

.outset {
  background: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15); }
  .no-boxshadow .outset {
    border: solid 1px #e8e8e8; }

/*============================================
 * ^Separator - Abstractions
 * ========================================== */
.sep {
  background: #e0e0e0;
  box-shadow: 0 1px 0 white;
  display: block;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  margin: 16px 0; }

/*============================================
 * ^Tabs
 * ========================================== */
.tab-nav {
  margin: 0 0 8px 0; }

.tab-nav a,
.fake-tab.collapsed {
  background: white;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px; }
  .tab-nav a:hover,
  .fake-tab.collapsed:hover {
    background: #f7f7f7;
    color: #636466; }
  .tab-nav a:after,
  .fake-tab.collapsed:after {
    display: none; }

.tab-nav .active a,
.fake-tab {
  border-radius: 4px 4px 0 0;
  border: solid 1px #e0e0e0;
  padding: 4px 8px; }
  .tab-nav .active a:after,
  .fake-tab:after {
    background: white;
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
    bottom: -10px;
    content: "";
    display: block;
    height: 10px;
    left: -1px;
    right: -1px;
    position: absolute;
    z-index: 2; }
  .tab-nav .active a:hover,
  .fake-tab:hover {
    background: white;
    border-bottom: solid 1px #e0e0e0; }

.tab-content {
  margin-bottom: 24px; }
  .tab-content:last-child {
    margin: 0; }

.tab {
  background: white;
  border: solid 1px #e0e0e0;
  border-radius: 0 0 4px 4px;
  display: none; }
  .tab.active {
    display: block; }

/*============================================
 * ^Key Value Display
 * ========================================== */
.key-value-display {
  display: table;
  margin-bottom: 24px;
  overflow: hidden;
  width: 100%; }
  .key-value-display:last-child {
    margin: 0; }
  .key-value-display dl {
    display: table-row; }
  .key-value-display dt, .key-value-display dd {
    border-bottom: dashed 1px #e0e0e0;
    display: table-cell;
    padding: 24px 8px 8px;
    width: 50%; }
    .key-value-display dt ul, .key-value-display dt ol, .key-value-display dd ul, .key-value-display dd ol {
      margin-left: 0; }
    .key-value-display dt li, .key-value-display dd li {
      list-style: none;
      margin-bottom: 0; }
      .key-value-display dt li:after, .key-value-display dd li:after {
        content: ",";
        display: inline; }
  .key-value-display dt {
    color: #b1b2b3;
    vertical-align: bottom; }
  .key-value-display dl.key-value-display-title {
    margin: 0;
    padding: 0 8px;
    width: 100%; }
    .key-value-display dl.key-value-display-title dt, .key-value-display dl.key-value-display-title dd {
      border-bottom: solid 1px #c1c1c2;
      color: #bc7d00;
      margin: 0;
      padding: 0 8px 8px; }

/*============================================
 * ^Affix
 * ========================================== */
.affixed {
  position: fixed;
  top: 0; }
