/*Reset ===================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, select, input, textarea {
  color: #444444; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/*============================================
 * Framework
 * Project:  SullivanCotter Client Portal
 * 
 * Table of Contents
 *  ^Readme
 *  ^Helpers..................Arbitrary helper classes
 *  ^Fonts....................Embedded typekit and weights
 *  ^Main.....................High Level Elements (html/body)
 *  ^Headings.................h1-h6 elements
 *  ^Typography...............<p> elements and other minor type elements
 *  ^Links....................Anchor links
 *  ^Lists
 *  ^Tables
 *  ^Forms
 *  ^Buttons
 *  ^Icons
 *  ^Alerts
 *  ^Modals
 *  ^Nav - Abstraction
 *  ^Island - Abstraction
 *  ^Inset/Outset - Abstraction
 *  ^Separator - Abstraction
 * ============================================ */
/*============================================
 * ^Readme
 * 
 * This file is the base framework containing a number of objects and abstractions
 * that form the basis for much of the app/site. CSS for new or un-anticipated site
 * elements should go in styles.sass.
 * ========================================== */
/*============================================
 * ^Fonts
 *
 * font-family: "freight-sans-pro"
 *
 * light
 *   font-weight: 300
 * book
 *   font-weight: 400
 * medium
 *   font-weight: 500
 * semibold
 *   font-weight: 600
 * italic
 *   font-style: italic
 *
 * ========================================== */
/*============================================
 * ^Helper classes
 * ========================================== */
.fr {
  float: right; }

.fl {
  float: left; }

.alignright {
  text-align: right; }

.alignleft {
  text-align: left; }

.aligncenter {
  text-align: center; }

.cf, .control-group, .btn-group, .nav, .sep {
  zoom: 1; }
  .cf:before, .control-group:before, .btn-group:before, .nav:before, .sep:before, .cf:after, .control-group:after, .btn-group:after, .nav:after, .sep:after {
    content: "";
    display: table; }
  .cf:after, .control-group:after, .btn-group:after, .nav:after, .sep:after {
    clear: both; }

.accessibility {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.danger {
  color: #c8000e; }

/*============================================
 * ^Grid
 * ========================================== */
.grid, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin-left: 0.73%; }

.container {
  display: block;
  margin: 0 auto;
  width: 1012px; }

.row {
  margin-left: -0.73%; }
  .row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.show-grid {
  margin-bottom: 10px; }
  .show-grid [class*="col"] {
    color: white;
    background: #a2a3a4;
    padding: 3px;
    text-align: center; }

.col1 {
  width: 7.6%; }

.col2 {
  width: 15.93%; }

.col3 {
  width: 24.26%; }

.col4 {
  width: 32.59%; }

.col5 {
  width: 40.92%; }

.col6 {
  width: 49.25%; }

.col7 {
  width: 57.58%; }

.col8 {
  width: 65.91%; }

.col9 {
  width: 74.24%; }

.col10 {
  width: 82.57%; }

.col11 {
  width: 90.9%; }

.col12 {
  width: 99.23%; }

.offset1 {
  margin-left: 9.06%; }

.offset2 {
  margin-left: 17.39%; }

.offset3 {
  margin-left: 25.72%; }

.offset4 {
  margin-left: 34.05%; }

.offset5 {
  margin-left: 42.38%; }

.offset6 {
  margin-left: 50.71%; }

.offset7 {
  margin-left: 59.04%; }

.offset8 {
  margin-left: 67.37%; }

.offset9 {
  margin-left: 75.7%; }

.offset10 {
  margin-left: 84.03%; }

.offset11 {
  margin-left: 92.36%; }

.offset12 {
  margin-left: 100.69%; }

/*============================================
 * ^Main
 * ========================================== */
html, body {
  background: #f9f8f6;
  color: #636466;
  font-size: 16px;
  line-height: 24px;
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }

/*============================================
 * ^Headings
 * ========================================== */
/*============================================
 * ^Typography
 * ========================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-shadow: 0 1px 0 white; }

h1,
.page-title {
  border-bottom: solid 1px #e0e0e0;
  color: #18466b;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 32px 0;
  padding: 0 0 24px 0;
  position: relative; }
  h1:before, h1:after,
  .page-title:before,
  .page-title:after {
    background: #e0e0e0;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%; }
  h1:before,
  .page-title:before {
    left: -32px; }
  h1:after,
  .page-title:after {
    left: auto;
    right: -32px; }
  h1.borderless,
  .page-title.borderless {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 16px; }
    h1.borderless:after, h1.borderless:before,
    .page-title.borderless:after,
    .page-title.borderless:before {
      display: none; }

h2,
.second-heading {
  color: #636466;
  font-size: 24px;
  margin: 0 0 24px 0;
  padding-top: 16px; }

h3,
.third-heading {
  color: #bc7d00;
  margin: 0 0 16px 0;
  padding-top: 16px;
  text-transform: uppercase; }

p {
  margin: 0 0 16px 0; }
  p:last-child {
    margin-bottom: 0; }

code {
  font-size: 14px;
  font-weight: bold; }

strong {
  font-weight: 600; }

/*============================================
 * ^Links
 * ========================================== */
a {
  -moz-transition: color 0.15s, border 0.15s, background 0.15s;
  -ms-transition: color 0.15s, border 0.15s, background 0.15s;
  -webkit-transition: color 0.15s, border 0.15s, background 0.15s;
  transition: color 0.15s, border 0.15s, background 0.15s;
  border-bottom: solid 1px transparent;
  color: #0178be;
  text-decoration: none;
  position: relative; }
  a:hover {
    border-bottom: solid 1px; }
  a:active, a:focus {
    top: 1px; }

/*============================================
 * ^Lists
 * ========================================== */
ul, ol {
  margin-bottom: 24px;
  margin-left: 24px; }
  ul li, ol li {
    margin-bottom: 8px; }

ul,
ul li {
  list-style: disc; }

ol,
ol li {
  list-style: decimal; }

/*============================================
 * ^Tables
 * ========================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%; }

thead {
  display: table-row-group !important;
  float: none !important; }
  thead td, thead th {
    border-bottom: solid 1px #d0d0d1;
    color: #231f20;
    display: table-cell;
    padding: 4px 8px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase; }
  thead .sortable {
    padding-right: 16px; }
    thead .sortable a {
      -moz-transition: none;
      -ms-transition: none;
      -webkit-transition: none;
      transition: none;
      color: #231f20;
      display: inline-block;
      padding-right: 14px;
      position: relative; }
      thead .sortable a:after, thead .sortable a:before {
        color: #c1c1c2;
        content: "▲";
        display: block;
        font-size: 8px;
        position: absolute;
        right: 0;
        top: -4px; }
      thead .sortable a:after {
        content: "▼";
        margin-top: 8px; }
      thead .sortable a:hover, thead .sortable a:hover:before, thead .sortable a:hover:after {
        border: transparent;
        color: #0178be; }
  thead .sorted-down a:before {
    display: none; }
  thead .sorted-down a:after {
    color: #231f20;
    font-size: 10px;
    top: -7px; }
  thead .sorted-up a:before {
    color: #231f20;
    font-size: 10px;
    top: 0px; }
  thead .sorted-up a:after {
    display: none; }

tbody {
  display: table-row-group !important;
  float: none !important; }
  tbody td, tbody th {
    border-bottom: solid 1px #e8e8e8;
    display: table-cell;
    padding: 8px;
    text-align: left; }
  tbody tr:hover td, tbody tr:hover th {
    background: #f7f7f7;
    color: #636466;
    text-shadow: 0 1px 0 white; }

.t5 {
  width: 5%; }

.t10 {
  width: 10%; }

.t12 {
  width: 12.5%; }

.t15 {
  width: 15%; }

.t20 {
  width: 20%; }

.t25 {
  width: 25%; }

.t30 {
  width: 30%; }

.t33 {
  width: 33.333%; }

.t35 {
  width: 35%; }

.t37 {
  width: 37.5%; }

.t40 {
  width: 40%; }

.t45 {
  width: 45%; }

.t50 {
  width: 50%; }

.t55 {
  width: 55%; }

.t60 {
  width: 60%; }

.t62 {
  width: 62.5%; }

.t65 {
  width: 65%; }

.t66 {
  width: 66.666%; }

.t70 {
  width: 70%; }

.t75 {
  width: 75%; }

.t80 {
  width: 80%; }

.t85 {
  width: 85%; }

.t87 {
  width: 87.5%; }

.t90 {
  width: 90%; }

.t95 {
  width: 95%; }

/*============================================
 * ^Forms
 * ========================================== */
/* Wrap all sets of questions & answers with a <div class="control-group"/> or
 * <p class="control-group">. Maintain this relationship when handling dependent questions.
 * e.g.:
 * <ul class=nav>
 *     <li><a href=#>Home</a></li>
 *     <li><a href=#>About</a></li>
 *     <li><a href=#>Portfolio</a></li>
 *     <li><a href=#>Contact</a></li>
 * </ul>
 */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  border-radius: 0;
  color: #231f20;
  outline: 0;
  padding: 2px 8px 0 8px;
  text-align: left;
  font-size: 15px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 36px; }
  textarea:focus,
  select:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus {
    border-color: #0178be;
    box-shadow: 0 0 5px rgba(1, 120, 190, 0.3); }
  .control-group textarea, .control-group
  select, .control-group
  input[type="date"], .control-group
  input[type="datetime"], .control-group
  input[type="datetime-local"], .control-group
  input[type="email"], .control-group
  input[type="month"], .control-group
  input[type="number"], .control-group
  input[type="password"], .control-group
  input[type="search"], .control-group
  input[type="tel"], .control-group
  input[type="text"], .control-group
  input[type="time"], .control-group
  input[type="url"], .control-group
  input[type="week"] {
    width: 100%; }

select {
  padding-top: 8px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      background-image: url(../images/bg-select.png) !important;
      background-repeat: no-repeat;
      background-position: center right;
      padding-top: 2px; } }

::-webkit-input-placeholder {
  color: #b1b2b3; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b1b2b3; }

.control-group {
  margin: 0;
  position: relative;
  width: 470px; }
  .control-group .control-group {
    padding-left: 64px; }

label,
.label {
  color: #636466;
  display: block;
  font-weight: 500;
  padding: 24px 0 8px; }
  label .additional,
  .label .additional {
    display: block;
    font-weight: 300; }

/*============================================
 * ^Buttons
 * ========================================== */
.btn {
  -moz-transition: none;
  -ms-transition: none;
  -webkit-transition: none;
  transition: none;
  border: solid 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  margin: 0 8px 0 0;
  padding: 8px 16px;
  position: relative;
  text-transform: uppercase; }
  .btn:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  .btn:active {
    top: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 white; }
  .btn:last-child {
    margin-right: 0; }

.btn-blue {
  background-color: #0178be;
  background-image: -moz-linear-gradient(#0178be, #01588b);
  background-image: -ms-linear-gradient(#0178be, #01588b);
  background-image: -webkit-linear-gradient(#0178be, #01588b);
  background-image: linear-gradient(#0178be, #01588b);
  border-color: #18466b;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .btn-blue:hover {
    background-color: #017bc3;
    background-image: -moz-linear-gradient(#017bc3, #0175b9);
    background-image: -ms-linear-gradient(#017bc3, #0175b9);
    background-image: -webkit-linear-gradient(#017bc3, #0175b9);
    background-image: linear-gradient(#017bc3, #0175b9);
    border-color: #0f2b41; }
  .btn-blue:active {
    background: #01588b; }
  .btn-blue.btn-disabled {
    background: #a9cde2;
    border-color: #83b7d5;
    color: #f9f8f6; }

.btn-yellow {
  background-color: #e59e01;
  background-image: -moz-linear-gradient(#e59e01, #b27b01);
  background-image: -ms-linear-gradient(#e59e01, #b27b01);
  background-image: -webkit-linear-gradient(#e59e01, #b27b01);
  background-image: linear-gradient(#e59e01, #b27b01);
  border-color: #bc7d00;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .btn-yellow:hover {
    background-color: #eaa201;
    background-image: -moz-linear-gradient(#eaa201, #e09a01);
    background-image: -ms-linear-gradient(#eaa201, #e09a01);
    background-image: -webkit-linear-gradient(#eaa201, #e09a01);
    background-image: linear-gradient(#eaa201, #e09a01);
    border-color: #a26c00; }
  .btn-yellow:active {
    background: #b27b01; }
  .btn-yellow.btn-disabled {
    background: #ece0c6;
    border-color: #dfcba0;
    color: #f9f8f6; }

.btn-grey {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(#e0e0e0, #c7c7c7);
  background-image: -ms-linear-gradient(#e0e0e0, #c7c7c7);
  background-image: -webkit-linear-gradient(#e0e0e0, #c7c7c7);
  background-image: linear-gradient(#e0e0e0, #c7c7c7);
  border-color: #a2a3a4;
  color: #636466;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25); }
  .btn-grey:hover {
    background-color: #e3e3e3;
    background-image: -moz-linear-gradient(#e3e3e3, #dddddd);
    background-image: -ms-linear-gradient(#e3e3e3, #dddddd);
    background-image: -webkit-linear-gradient(#e3e3e3, #dddddd);
    background-image: linear-gradient(#e3e3e3, #dddddd);
    border-color: #97999a; }
  .btn-grey:active {
    background: #c7c7c7; }
  .btn-grey.btn-disabled {
    background: #e8e8e8;
    border-color: #e0e0e0;
    color: #b1b2b3; }

.btn-link {
  background: none;
  border: none;
  box-shadow: none;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .btn-link:hover {
    background: none;
    border: none;
    box-shadow: none;
    color: #231f20;
    text-decoration: underline; }
  .btn-link:active {
    background: none;
    border: none;
    box-shadow: none; }

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
  box-shadow: 0 1px 0 white;
  cursor: default;
  text-shadow: none;
  top: 0; }

.btn-small {
  padding: 4px 10px; }

.btn-block {
  display: block;
  text-align: center; }

.btn-group .btn {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25), inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  float: left;
  margin: 0 0 0 -1px; }
  .btn-group .btn:first-child {
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.25), inset 0px 1px 0 rgba(255, 255, 255, 0.25); }
  .btn-group .btn:last-child {
    border-radius: 0 4px 4px 0; }
  .btn-group .btn:hover {
    z-index: 2; }
  .btn-group .btn:active {
    top: 0; }

.btn-dropdown:after {
  content: "▼";
  display: inline;
  font-size: 10px;
  margin-left: 8px;
  position: relative;
  top: -1px; }

/*============================================
 * ^Icons
 * ========================================== */
/*============================================
 * ^Alerts
 * ========================================== */
.alert {
  border: solid 1px;
  border-radius: 4px;
  box-shadow: 0 1px 0 white;
  position: relative;
  font-weight: 500; }
  .alert .close {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    right: 12px;
    top: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
    .alert .close:hover {
      border: transparent;
      color: #231f20; }
    .alert .close:active {
      top: 5px; }

.alert-info {
  background: #d3e2eb;
  border-color: #0178be;
  color: #18466b; }
  .alert-info .close {
    color: #18466b; }

.alert-warning {
  background: #f9f5ec;
  border-color: #e59e01;
  color: #bc7d00; }
  .alert-warning .close {
    color: #bc7d00; }

.alert-error {
  background: #efd9da;
  border-color: #c8000e;
  color: #b41c14; }
  .alert-error .close {
    color: #b41c14; }

/*============================================
 * ^Modals
 * ========================================== */
/*============================================
 * ^Nav - Abstractions
 * ========================================== */
/* Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 * <ul class=nav>
 *     <li><a href=#>Home</a></li>
 *     <li><a href=#>About</a></li>
 *     <li><a href=#>Portfolio</a></li>
 *     <li><a href=#>Contact</a></li>
 * </ul>
 */
.nav {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav > li,
  .nav > li > a,
  .nav > li > span {
    list-style: none;
    display: inline-block;
    margin: 0;
    zoom: 1; }

/*
 * `.stacked` extends `.nav` and throws the list into vertical mode, e.g.: 
 *
 *   <ul class="nav stacked">
 *       <li><a href=#>Home</a></li>
 *       <li><a href=#>About</a></li>
 *       <li><a href=#>Portfolio</a></li>
 *       <li><a href=#>Contact</a></li>
 *   </ul>
 *
 */
.stacked > li {
  display: list-item; }
  .stacked > li > a,
  .stacked > li > span {
    display: block; }

/*============================================
 * ^Island - Abstractions
 * ========================================== */
.island {
  margin-bottom: 16px;
  padding: 32px; }
  .island .island > :last-child {
    margin-bottom: 0; }

.island-small {
  padding: 16px; }

/*============================================
 * ^Inset/Outset - Abstractions
 * ========================================== */
.inset, textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: #f9f8f6;
  box-shadow: inset 0 1px 2px rgba(99, 100, 102, 0.1), 0 1px 0 white;
  border: solid 1px #d0d0d1; }

.inset-white {
  background: white; }

.outset {
  background: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15); }
  .no-boxshadow .outset {
    border: solid 1px #e8e8e8; }

/*============================================
 * ^Separator - Abstractions
 * ==========================================*/
 *
 * /*
 * Seperators should be empty elements, creates a single line.
 * Combine with the grid system to get the proper width
 * e.g.:
 *
 *   <div class="sep"></div>
 *
 *   <span class="col12 sep"></span>
 *
 */
.sep {
  background: #e0e0e0;
  box-shadow: 0 1px 0 white;
  display: block;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  margin-bottom: 16px; }
